@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  margin: 0;
  background: #eee;
  font-family: 'Roboto', sans-serif;
}

#root {
  min-width: 100%;
  min-height: 100%;
}

.container {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;

  .column-left {
    background: linear-gradient(105deg, #423c9d, #453fa1 37%, #4b45a9);
    width: 30%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;

    .app-logo {
      margin: 10px 0;
      width: 40%;
      cursor: pointer;
      height: auto;
    }

    .search-input {
      width: 52%;
      margin: 5px 0;
      border: none;
      border-radius: 4px;
      padding: 10px;
      outline: none;
    }

    .search-btn {
      width: 60%;
      margin: 10px 0;
      border-radius: 4px;
      border: none;
      font-family: 'Roboto', sans-serif;
      padding: 10px;
      font-size: 14px;
      outline: none;
      text-transform: uppercase;
      color: #fff;
      background-color: #188a8a;
      cursor: pointer;

      &:hover {
        background-color: #127373;
      }
    }

    .signature {
      position: absolute;
      bottom: 10px;
      color: #fff;
      font-size: 10px;
    }
  }

  .column-right {
    width: 100%;
    height: calc(100% - 10px);
    background-color: #fff;
    border: 5px solid #eee;

    .tree-container {
      height: 100%;
    }
  }
}

